/* Web Version */
body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF; 
}

/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px; 
    padding-top: 12px;
    padding-right: 80px;
    padding-bottom: 12px;
    gap: 748px;
    padding-left: 80px;
    box-sizing: border-box; 
    background-color: #F1F1F1;
}


header .logo {    
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 114.68px;
    height: 22px; 
}

.textLogo {
    width: 86px;
    height: 22px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
}

header .logo img {
    height: 22px; 
    width: 18.68px;
    padding: 2px; 
}

nav {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 410px; 
    height: 38px; 
}

.navHome {
    width: 64px;
    height: 38px;
    border-radius: 100px;
    padding: 10px 12px 10px 12px;
    gap: 8px;
    background: none;
    border: none;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;    
    text-align: center;
}

.navAbout {
    width: 85px;
    height: 38px;
    border-radius: 100px;
    padding: 10px 12px 10px 12px;
    gap: 8px;
    background: none;
    border: none;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;    
    text-align: center;
    white-space: nowrap; 
}
.navHow{
    width: 111px;
    height: 38px;
    border-radius: 100px;
    padding: 10px 12px 10px 12px;
    gap: 8px;
    background: none;
    border: none;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;    
    text-align: center;
    white-space: nowrap; 
}

.get-started {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 102px;
    height: 38px;
    border-radius: 25px;
    background-color: #081E341F;
    color: #081E34;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    border: none;
}



/* The First Main Section */
.first {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F1F1F1;

    width: auto;
    height: 620px;
    padding: 100px 80px;
    position: relative; 
    gap: 165px;
    box-sizing: border-box;
}


.first .content {
    width: 495px;
    height: 366px;
    gap: 48px;    
}

.first h1 {
    width: 495px;
    height: 192px;

    font-family: 'Kanit', sans-serif;
    font-size: 54px; 
    font-weight: 700;
    line-height: 64px; 
    color: #000000; 
    margin: 0 0 20px 0; 
    white-space: normal; 
    word-wrap: break-word; 
}

.first p {
    height: 44px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #000000; 
    margin-bottom: 20px;
}

.hiw {
    width: 144px;
    height: 50px;
    border-radius: 100px; 
    padding: 16px 24px;
    gap: 10px;

    border: none;

    background-color: #712FFF;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;

}

.first .image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;

    width: 619px;
    height: 420px;
    border-radius: 32px;
}

.first .hero-main-image {
    width: 619px;
    height: 420px;
    border-radius: 32px 32px 32px 32px;
    object-fit: cover;
}

.first .image .dollar-image {
    position: absolute;
    width: 139px;
    height: 181px;
    left: 215px;
    top: -3px; 
    z-index: 2; 
}

.first .image .fire-image {
    position: absolute;
    width: 148px;
    height: 172px;
    left: 425px;
    top: 198px;
    z-index: 2; 
    transform: scaleX(-1);
}

/* How It Works Section*/
.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: 562px;
    gap: 86px;

    background-color: #E1DEE7; 
    border-radius: 32px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 351px;
    height: 84px;
    text-align: center;

    margin-top: 100px;
}

.infoP {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    margin: 0;
}

.infoH {
    font-family: 'Kanit', sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;
    margin: 0;
}

.steps {
    display: flex;
    justify-content: space-between;
    gap: 40px; 
    width: 1280px; 
    height: 186px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px; 
    text-align: left; 
    width: 1280px;
}

.step-image {
    width: 64px;
    height: 64px;
    gap: 10px;
}

.step h3 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
    margin: 5px;
}

.step p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
    margin: 0;
}

/* Lets-get-started Section */
.lets-get-started {
    height: 422px; 
    padding: 100px 80px; 

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 128px; 
    background-color: #F1F1F1; 
    box-sizing: border-box;
}

.lets-get-started .content-block {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 757px;
    height: 222px; 
}

.lets-get-started .title {
    width: 495px;
    height: 64px;

    font-family: 'Kanit', sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    color: #000000;
    margin: 0;
}

.lets-get-started .subtitle {
    width: 495px;
    height: 44px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
    margin: 0;
}

.search-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 757px;
    height: 50px;
    gap: 32px;
}
  
.search-image {
    position: absolute;
    left: 16px; 
    top: 50%;
    transform: translateY(-50%);
    width: 18px; 
    height: 18px;
    opacity: 0.5; 
    pointer-events: none; 
}
  
.search-input {
    width: 619px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid #E1DEE7;
    padding: 0 16px 0 50px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    outline: none;

    background: #FFFFFF;
    color: #000000;
}
  
.search-input::placeholder {
    color: #B0B0B0;
}

.search-button {
    background-color: #712FFF;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 100px;
    white-space: nowrap; 
    
    padding: 16px 24px;
    width: 106px; 
    height: 50px;

    text-align: center;
  }
  
.search-button:hover {
    background-color: #5A24CC;
}

/* CV Submission Section */
.cv-submission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 80px; 
    gap: 128px;
    box-sizing: border-box;
    height: 548px;
    background-color: #F1F1F1;
    width: auto;
}

.cv-image {
    width: 700px;
    height: 466.67px;

    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.cv-main-img {
   width: 619px;
   height: 420px;
   border-radius: 24px;
   object-fit: cover;
}

.star-image {
    position: absolute;
    width: 97px; 
    height: 94px;
    top: 70px;
    left: 213px;

    z-index: 2; 
}


.lightning-image {
    position: absolute;
    width: 87px;
    height: 144px;
    top: 170px;
    left: 40px;

    z-index: 2;    
}

.cv-info {
    width: 495px;
    height: 214px; 
    display: flex;
    flex-direction: column;
    gap: 48px; 
}

.cv-title {
    width: 391px;
    height: 56px;

    font-family: 'Kanit', sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 56px;
    color: #000000;
    margin: 0;
    text-align: left;
}

.cv-description {
    width: 495px;
    height: 44px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #000000;
    margin: 0;
    text-align: left;
}

.upload-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 114px;
    height: 50px;
    padding: 16px 24px 16px 16px;
    gap: 8px;

    border: none;
    border-radius: 100px;
    background-color: #712FFF;
    color: #FFFFFF;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.btn-image {
    width: 18px;
    height: 18px;
    object-fit: contain;
}


/* Footer Section */
.footer {
    height: 172px;
    border-radius: 32px 32px 0 0; 
    padding: 32px 80px;
    box-shadow: 0 0 0 15px #F1F1F1; 

    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 105px;
    height: 38px;
}

.footer-menu {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 38px;
    width: 372px;
}

.menu-Home {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
    padding: 10px 12px;
    border-radius: 100px;
    border: none;
    height: 38px;
    width: 64px;
    gap: 8px;
    white-space: nowrap;
    background-color: #FFFFFF;
}

.menu-About {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
    padding: 10px 12px;
    border-radius: 100px;
    border: none;
    height: 38px;
    width: 85px;
    gap: 8px;
    white-space: nowrap;
    background-color: #FFFFFF;
}

.menu-How {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
    padding: 10px 12px;
    border-radius: 100px;
    border: none;
    height: 38px;
    width: 111px;
    gap: 8px;
    white-space: nowrap;
    background-color: #FFFFFF;
}

.smBtn {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-image {
    width: 24px;
    height: 24px;
}


.footer-credits {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #5A5A5A;
    text-align: right;
}

.footer-credits a {
    color: #5A5A5A;
}

.footer-made {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #5A5A5A;
    text-align: right;
}

/* Mobile Version */

@media only screen and (max-width: 360px) {
    /* Header */
    .navHome{
        display: none;
    }
    .navAbout{
        display: none;
    }
    .navHow{
        display: none;
    }
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        gap: 92px;
        height: 62px;
    }

    header .logo {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        width: 118px;
        height: 22px;
    }
    .logoImage{
        width: 18.68px;
        height: 22px;
    }
    header .textLogo {
        width: 86px;
        height: 22px;

        font-size: 18px;
        text-align: center;
    }

    nav {
        width: 102px;
        height: 38px;
    }

    nav button {
        width: 100%;
        text-align: center;
    }

    /* The First Main Section*/
    .first{
        display: flex;
        flex-direction: column-reverse;
        height: 618px;
        padding: 32px 24px;
        gap: 54px;
    }
    .first .image{
        width: 312px !important;
        height: 210px !important;
        border-radius: 32px !important;
    }
    .hero-main-image{
        width: 312px !important;
        height: 210px !important;
        top: -12px !important;
        left: -34px !important;
    }
    .dollar-image{
        width: 73px !important;
        height: 94px !important;
        top: 5px !important;
        left: 110px !important;
    }
    .fire-image{
        width: 85px !important;
        height: 99px !important;
        top: 85px !important;
        left: 210px !important;
    }
    .first .content{
        width: 312px;
        height: 290px;
        gap: 48px;
    }
    .content{
        width: 312px;
        height: 290px;
        gap: 24px !important;
        opacity: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .content h1{
        width: 312px;
        height: 114px;
        gap: 0px;
        opacity: 0px;
        margin: 0;
        text-align: center;
        font-family: 'Kanit', sans-serif;
        font-size: 32px; 
        font-weight: 700;
        line-height: 38.4px; 
        color: #000000; 
        white-space: normal; 
        word-wrap: break-word; 
        align-items: center;
    }
    .content p{
        width: 312px;
        height: 54px;
        gap: 0px;
        opacity: 0px;
        line-height: 18px;
        font-size: 14px;
        align-items: center;
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .hiw{
        width: 144px;
        height:50px;
        padding: 16px 24px 16px 24px;
        gap: 10px;
        border-radius: 100px;
        opacity: 1;

    }
    /* How It Works Section */
    .how-it-works{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 360px;
        height: 686px;
        gap: 50px;
        border-radius: 32px;
    }
    .how-it-works .info{
        width: 312px;
        height: 84px;
        gap: 0px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .infoP{
        width: 169px;
        height: 16px;
    }
    .infoH{
        font-size: 32px;
        line-height: 56px;
        width: 312px;
        height: 56px;
    }
    .steps{
        gap: 0px;
        margin-top: 0px;
        width: 312px;
        height: 440px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px;
        margin-bottom: 10px;
    }
    .step{
        width: 312px;
        height: 120px;
        gap: 24px;
    }
    .step-image{
        width: 23.05px !important;
        height: 42px !important;
        left: 9.19px !important; 
    }
    #step-image-2{
        width: 31.7px !important;
        height: 42px !important;
        left: 5.25px !important; 

    }
    #step-image-3{
        width: 31.87px !important;
        height: 42px !important;
        left: 5.25px !important; 
    }
    .step h3{
        width: 312px;
        height: 24px;
        line-height: 24px;
        font-size: 20px;
        margin: 0px;
    }
    .step p{
        width: 312px;
        height: 18px;

        font-size: 14px;
        line-height: 18px;
    }
    /* Lets-get-started Section */
    .lets-get-started{
        width: 360px;
        height: 387px;
        padding: 54px 24px;
        gap: 128px;
    }
    .lets-get-started .content-block{
        width: 312px;
        height: 279px;
        gap: 48px;

    }
    .lets-get-started .title{
        width: 312px;
        height: 29px;
        font-size: 24px;
        line-height: 28.8px;
        text-align: center;
    }
    .lets-get-started .subtitle{
        width: 312px;
        height: 54px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin: 0 auto;
    }
    .subtitle-break{
        display: none;
    }
    .search-container{
        width: 100%;
        height: 132px;
        gap: 32px;
        display: flex;
        flex-direction: column;
    }
    .search-image{
        width: 24px;
        height: 24px;
        top: 25px;
        left: 13px;
        gap: 0px;
        opacity: 0.2px;
    }
    .search-input{
        width: 244px !important;
        width: 100%;
        height: 50px;
        border-radius: 12px;
        border: 1x;

        top: 14px;
        left: 49px;
    }
    .search-button{
        width: 106px;
        height: 50px;

    }
    /* CV Submission Section */
    .cv-submission{
        width: 360px;
        height: 663px;

        padding: 64px 24px;
        gap: 128px;
        display: flex;
        flex-direction: column;
    }
    .cv-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cv-main-img{
        width: 312px;
        height: 210px;
        gap: 0px;
        border-radius: 24px;
        opacity: 0px;
        
    }
    .cv-info{
        width: 312px;
        height: 197px;
        gap: 48px;
        display: flex;
        justify-content: center;

    }
    .cv-title{
        width: 174px;
        height: 29px;
        font-size: 24px;
        line-height: 28.8px;
    }
    .cv-description{
        width: 312px;
        height: 54px;
        font-size: 14px;
        line-height: 18px;
    }
    .cv-break{
        display: none;
    }
    .upload-btn{
        width: 114px;
        height: 50px;
        border-radius: 100px;
        padding: 16px 24px;
        gap: 8px;
    }
    .star-image{
        width: 53px;
        height: 51px;
        top: 10px;
        left: 317px;
    }
    .lightning-image{
        width: 47px;
        height: 78px;
        top: 75px;
        left: 220px;
    }
    /* Footer Section */
    .footer{
        width: 360px;
        height: 460px;

        padding: 32px 24px;
        gap: 40px;
        display: flex;

        align-items: center;
        justify-content: space-between;
        text-align: center;

    }
    .footer-menu img {
        margin: 0; 
        padding: 0px 12px; 
    }
    
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 312px !important;
        height: 396px  !important;
        gap: 40px;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        width: 111px;
        height: 226px;
        gap: 16px;
        margin-bottom: 30px;
    }
    .footer-row{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        gap: 0px;
    }
    .footer-credits{
        width: 315px;
        height: 72px;
        line-height: 24px;
        font-size: 14px;
        text-align: left;
        white-space: normal;
        word-break: break-word;
    }

    .footer-made{
        width: 312px;
        height: 18px;
        text-align: left;
    }
}
